In [61]:
import pickle
import pandas as pd

# load the data of node embeddings in FlavourGraph
with open('data\FlavorGraph_node_embedding.pickle', 'rb') as f:
    data = pickle.load(f)

In [62]:
# read information abo
nodes= pd.read_csv('data\\nodes_191120.csv')

#delete nan in node name column
nodes = nodes.dropna(subset=['name'])

nodes.head()

   node_id                    name  id   node_type  is_hub
0        0       1%_fat_buttermilk NaN  ingredient  no_hub
1        1   1%_fat_cottage_cheese NaN  ingredient  no_hub
2        3               10%_cream NaN  ingredient  no_hub
3        4               100%_bran NaN  ingredient  no_hub
4        5  10_inch_flour_tortilla NaN  ingredient  no_hub

## Our first extrenal dataset will concern the kcal for foods - for example for the search of a lower calorie alternative of a food, or richer in a certain vitamin group

In [63]:
# calories dataset
nutri_data= pd.read_csv('data\\ABBREV.csv')
nutri_data.head()

,index,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
0,0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,...,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp,0.0
1,1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,...,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp,0.0
2,2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,...,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup,0.0
3,3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,...,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch,0.0
4,4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,...,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded",0.0

## Preliminarly match the data

In [64]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Assuming 'array1' and 'array2' are your arrays of strings
matches = []

for string1 in list(nutri_data['Shrt_Desc']):
    for string2 in list(nodes['name']):
        ratio = fuzz.ratio(string1.lower(), string2.lower())
        
        if ratio >= 80:  # You can adjust this value according to your needs
            matches.append((string1, string2))

## Exploration of the data

In [ ]:
# get list of columns ending with 'mg'
micro_columns_list = [element for element in nutri_data.columns if element.endswith('mg)')]

# get dataframe with subset of columns for micronutrients
df_micro = nutri_data[micro_columns_list]

# get summary statistics of micronutrient columns
pd.DataFrame(
	data={
		'average':df_micro.mean(),
		'standard_deviation':df_micro.std()
		}
)

                      average  standard_deviation
Calcium_(mg)        76.738214          203.527453
Iron_(mg)            2.699674            5.687560
Magnesium_(mg)      35.295988           57.416785
Phosphorus_(mg)    165.142126          204.704214
Potassium_(mg)     279.472740          375.483729
Sodium_(mg)        312.495923          943.431341
Zinc_(mg)            2.117438            3.437209
Copper_mg)           0.195984            0.582596
Manganese_(mg)       0.658156            7.248609
Vit_C_(mg)           9.231134           68.854696
Thiamin_(mg)         0.223134            0.523752
Riboflavin_(mg)      0.252237            0.449461
Niacin_(mg)          3.657721            4.823819
Panto_Acid_mg)       0.650989            1.413303
Vit_B6_(mg)          0.291531            0.485057
Choline_Tot_ (mg)   43.596230           63.109904
Vit_E_(mg)           1.331518            4.640706
Cholestrl_(mg)      40.613246          119.869371